body { font-family: Helvetica, Arial, sans-serif; padding: 5% 5% 0; }
h1, h2, h3, h4 { font-weight: bold; }
h2, h3, h4, p { margin-bottom: 6px; } 
h1 { margin-bottom: 16px; font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }

#main_content { width: 100%; }
#main_content .db_section { margin-bottom: 12px; }

.code { font-family: monospace; }
