extends layout

block content
  h1= title

  h2 View High Fives
  a(href="/highfives") All High Fives

  h3 High Fives by Player
  ul
    li
      a(href="/highfives/adam") Adam
    li
      a(href="/highfives/sam") Sam
    li
      a(href="/highfives/xuedi") Xuedi

  h3 Add New High Five with curl
  p
    span(class="code") curl -i -X POST -H 'Content-Type: application/json' -d '{"player_id":"sam", "strength":10}' http://localhost:3000/highfives/new
