extends layout

block content
  h1= title

  h2 View High Fives
  a(href="/highfives") All High Fives

  h3 High Fives by Player (doesn't work right now)
  ul
    li
      a(href="/highfives/adam") Adam
    li
      a(href="/highfives/sam") Sam
    li
      a(href="/highfives/xuedi") Xuedi