extends layout

block content
  h1= title

  div(class="db_section")
    h3 View Players
    ul
      li
        a(href="/players/") All
      li
        a(href="/players/adam") Adam
      li
        a(href="/players/sam") Sam
      li
        a(href="/players/xuedi") Xuedi