doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section(id="main_content")
      block content