extends layout

block content
  h1= title

  h2 View High Fives
  ul
    li
      a(href="/highfives") All
    li
      a(href="/highfives/adam") Adam
    li
      a(href="/highfives/sam") Sam
    li
      a(href="/highfives/xuedi") Xuedi