body { font-family: Helvetica, Arial, sans-serif; padding: 5% 5% 0; }
h1, h2, h3, h4 { font-weight: bold; }
h1, h2, h3, h4, p { margin: 6px 0; }
h1 { font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }

#main_content { width: 100%; }

.code { font-family: monospace; }